.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
  margin: 2rem auto;
}
.contact-cn {
  background: green;
}
.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  margin: 0;
  padding: 0;
}
.flip-card-inner {
  position: relative;
  width: 50%;
  height: 50%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  bottom: 0%;
  width: 50%;
  height: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 1rem;
}

.flip-card-front {
  background-color: dimgrey;
}

.flip-card-back {
  background-color: blue;
  transform: rotateY(180deg);
}
