:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.welcome-about {
  text-align: center;
}
.li-center {
  text-align: center;
}
.contact-container {
  display: flex;
  height: 180%;
  width: 187%;
  min-height: 100vh;
  background-color: #42ccd6;
}
.container-about {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-column-about,
.right-column-about {
  flex: 1;
}

.left-column-about {
  background-color: #5959d4;
  height: 50vh;
  width: 10vw;
}
.leftbtm-column-about{
    height: 100vh;
  width: 10;
}
.abt-h1{
  text-align: center;
}

.right-column-about {
  background-color: #0d84d3;
}

.left-column {
  flex: 20;
  background: #020100;
  color: rgb(236, 228, 228);
  padding: 2rem;
  text-align: center;
  border-right: 1px solid #a58279;
}
.right-column {
  flex: 50;
  padding: 2rem;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.card-img {
  width: fit-content;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card {
  color: #000453;
  height: "100%";
  width: "100%";
  background-color: rgb(219, 108, 17);
  border: 1px solid #e2e8f0;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-align: center;
}
.container {
  width: 450px;
  height: 550px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ad-h {
  text-align: center;
}

.about-me {
  text-decoration: solid;
}
.h2 {
  text-align: justify;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f16d15;
  }
  button {
    background-color: #f9f9f9;
  }
}
